<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skittles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".successproductowner"></activity>
        <activity android:name=".lecture_marking_screen" />
        <activity android:name=".user_stories" />
        <activity android:name=".student_sprint_objective" />
        <activity android:name=".sprintobjective" />
        <activity android:name=".productDetails" />
        <activity android:name=".createproject" />
        <activity android:name=".student_menu" />
        <activity android:name=".product_owner_menu" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>